@import './fonts/fonts.css';

/* HCC custom color palette and measurement variables */
:root {
  --hcc-max-width: 1000px;
  --hcc-min-width: 300px;
  --hcc-split-width: 500px;
  --hcc-flex-gap: calc(var(--hcc-min-width)/10);
  
  --hcc-default-font-size: 15px;
  
  --hcc-blue-hue: 208.9;
  --hcc-red-hue: 0;
  
  --hcc-blue-lightness: 21.2%;
  --hcc-red-lightness: 40.2%;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --hcc-blue-lightness: 31.2%;
    --hcc-red-lightness: 50.2%;
  }
}

:root {
  --hcc-blue: hsl(var(--hcc-blue-hue), 100%, var(--hcc-blue-lightness));
  --hcc-red: hsl(var(--hcc-red-hue), 100%, var(--hcc-red-lightness));
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #e0e0e0;
  --vt-c-white-soft: #ffffff;
  --vt-c-white-mute: #9d9d9d;
  
  --vt-c-black: #00386c;
  --vt-c-black-soft: #00498c;
  --vt-c-black-mute: #00274c;
  
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
  --vt-c-text-light-1: var(--hcc-blue);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition: All 0.6s ease-in-out;
  line-height: 1.6;
  font-family:
    Montserrat,
    Lora,
    Satisfy,
    Inter,
    Roboto,
    Oxygen,
    'Segoe UI',
    'Helvetica Neue',
    'Fira Sans',
    'Droid Sans',
    Ubuntu,
    Cantarell,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: var(--color-background);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}