@import './base.css';

#app {
  max-width: var(--hcc-max-width);
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

a,
.red {
  text-decoration: none;
  color: var(--hcc-red);
  transition: color 0.4s ease-in-out;
}

.blue {
  color: var(--hcc-blue);
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(var(--hcc-blue), 0.2); */
    font-weight: 500;
  }
}

@media (min-width: calc(var(--hcc-min-width)*2)) {
  /* body {
    display: flex;
    place-items: center;
  }
  
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
