@import './base.css';

#app {
  max-width: var(--hcc-max-width);
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--hcc-anchor);
  transition: 0.4s;
}

.blue {
  color: var(--hcc-blue);
}

.red {
  color: var(--hcc-red);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(var(--hcc-blue), 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}