@import './base.css';

#app {
  position: relative;
  width: clamp(var(--hcc-min-width)+6rem, 100vw, var(--hcc-max-width));
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--hcc-flex-gap);
  place-items: flex-start;
  place-content: space-around;
  padding: 0 3rem 5rem 3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--hcc-anchor);
  transition: 0.4s;
}

.blue {
  color: var(--hcc-blue);
}

a, .red {
  color: var(--hcc-red);
}

.icon {
    margin: 0 0.6rem 0 0.8rem;
  }

@media (hover: hover) {
  a:hover, a.red:hover {
    background-color: hsla(var(--hcc-red),0.2);
  }
  a.blue:hover {
    background-color: hsla(var(--hcc-blue),0.2);
  }
}